<template name="Organisations">
	{{#if currentUser}}
		<div class="text-right">
			<a class="btn btn-primary" href="{{ pathFor 'create.organisation' }}">Create Organisation</a>
			<hr />
		</div>
	{{/if}}
	{{#each organisations}}
		<div class="jumbotron">
			<h1>{{ name }}</h1>
			<p>{{ description }}</p>
			<p>
				{{#if following}}
					<a class="btn btn-success btn-lg" id="follow_button" role="button">Follow</a>
				{{else}}
					<a class="btn btn-danger btn-lg" id="follow_button" role="button">Unfollow</a>
				{{/if}}
			</p>
		</div>
	{{/each}}
</template>